li {
    margin: 0;
}
p {
    margin: 0;
}
.job-title {
    font-size: 50px;
    text-transform: uppercase;
}
.job {
    overflow: hidden;
    display: block;
    /* background-image: url(../../image/patterm90.png); */
    background-position: absoolute;
    background-size: contain;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,175,169,1) 100%);
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 40px 0;
    
}